@keyframes body_fondo {
	from { background-position: 0 50%; }
	to { background-position: 100% 50%; }
}
@-webkit-keyframes body_fondo {
	from { background-position: 0 50%; }
	to { background-position: 100% 50%; }
}
@-ms-keyframes body_fondo {
	from { background-position: 0 50%; }
	to { background-position: 100% 50%; }
}
@-moz-keyframes body_fondo {
	from { background-position: 0 50%; }
	to { background-position: 100% 50%; }
}
body {
    background: url(../../../../assets/fondos/mt-1.jpg) repeat #000000 !important;
	animation: body_fondo 50s linear infinite alternate;
} 
.login-logo a {
  color: white !important;
}
.login-logo a:hover {
  color: yellow !important;
}

.login-box-body, .register-box-body {
    background: rgba(0, 0, 0, 0.2) !important;
		color: #f4f4f4 !important;
}

.login-box, .register-box {
    margin: 10px auto !important;
}

.recuerdame {
	color: #fff !important;
}
.recuerdame:hover {
	color: #97d4f7 !important;
}
.barra_enlaces {
	background: rgba(255, 255, 255, 0.5) !important;
	padding:10px 20px;
}
a.enlace {
	color:#000;
	cursor:pointer;
}
a.enlace:hover {
	color:#444;
	cursor:pointer;
	text-decoration:underline;
}
.error {
	color: #ff0;
}
.selLang {
	color:white;
}
.selLang:hover {
	color:yellow;
}
.selLangActive {
	color:yellow;
}