/*
.flex-direction-nav {
    display: block !important;
    opacity: 1 !important;
    top: 30% !important;
    width: 100%;
    z-index: 999 !important;
}

.flex-direction-nav a {
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    display: block;
    height: 30px;
    margin: 0;
    opacity: 0;
    overflow: hidden;
    padding-top: 20px;
    position: absolute;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
    top: 50%;
    transition: all 0.3s ease 0s;
    width: 40px;
    z-index: 10;
}    
*/
.flex-direction-nav a.flex-next, 
.flex-direction-nav a.flex-prev{
    display:none;
}


/* these styles are for the demo, but are not required for the plugin */
.zoom {
	display:inline-block !important;
	position: relative !important;
}

.ampliar {
    cursor:zoom-in !important;
}

/* magnifying glass icon */
.zoom:after {
	content:'' !important;
	display:block !important; 
	width:33px !important; 
	height:33px !important; 
	position:absolute !important; 
	top:0 !important;
	right:0 !important;
	background:url(../../zoom/icon.png) !important;
}

.zoom img {
	display: block !important;
}

.zoom img::selection { 
	background-color: transparent !important; 
}
