tbody tr td {
	white-space: nowrap;
}
.tdSeleccion {
	width:35px !important;
}
.tdBotones {
	width:35px !important;
}
.campoEditar:hover {
	color:blue;cursor: pointer;
}
.campoTexto {
	width: 200px !important;
}
.campoNumero {
	width: 70px !important;
}
.campoArea {
	width: 300px !important;
}
.campoLista {
	width: 160px !important;
}
.campoFechaLarga {
	width: 160px !important;
}
.glyphicon.normal-right-spinner {
	-webkit-animation: glyphicon-spin-r 2s infinite linear;
	animation: glyphicon-spin-r 2s infinite linear;
}      
@-webkit-keyframes glyphicon-spin-r {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}
@keyframes glyphicon-spin-r {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
} 
tbody tr td {
	white-space: nowrap;
}
.tdSeleccion {
	width:35px !important;
}
.tdBotones {
	width:35px !important;
}
.campoEditar:hover {
	color:blue;cursor: pointer;
}
.campoTexto {
	width: 200px !important;
}
.campoNumero {
	width: 70px !important;
}
.campoArea {
	width: 300px !important;
}
.campoLista {
	width: 160px !important;
}
.campoFechaLarga {
	width: 160px !important;
}
.glyphicon.normal-right-spinner {
	-webkit-animation: glyphicon-spin-r 2s infinite linear;
	animation: glyphicon-spin-r 2s infinite linear;
}      
@-webkit-keyframes glyphicon-spin-r {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}
@keyframes glyphicon-spin-r {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
} 
tbody tr td {
	white-space: nowrap;
}
.tdSeleccion {
	width:35px !important;
}
.tdBotones {
	width:35px !important;
}
.campoEditar:hover {
	color:blue;cursor: pointer;
}
.campoTexto {
	width: 200px !important;
}
.campoNumero {
	width: 70px !important;
}
.campoArea {
	width: 300px !important;
}
.campoLista {
	width: 160px !important;
}
.campoFechaLarga {
	width: 160px !important;
}
.glyphicon.normal-right-spinner {
	-webkit-animation: glyphicon-spin-r 2s infinite linear;
	animation: glyphicon-spin-r 2s infinite linear;
}      
@-webkit-keyframes glyphicon-spin-r {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}
@keyframes glyphicon-spin-r {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
} 
tbody tr td {
	white-space: nowrap;
}
.tdSeleccion {
	width:35px !important;
}
.tdBotones {
	width:35px !important;
}
.campoEditar:hover {
	color:blue;cursor: pointer;
}
.campoTexto {
	width: 200px !important;
}
.campoNumero {
	width: 70px !important;
}
.campoArea {
	width: 300px !important;
}
.campoLista {
	width: 160px !important;
}
.campoFechaLarga {
	width: 160px !important;
}
.glyphicon.normal-right-spinner {
	-webkit-animation: glyphicon-spin-r 2s infinite linear;
	animation: glyphicon-spin-r 2s infinite linear;
}      
@-webkit-keyframes glyphicon-spin-r {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}
@keyframes glyphicon-spin-r {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
} 
tbody tr td {
	white-space: nowrap;
}
.tdSeleccion {
	width:35px !important;
}
.tdBotones {
	width:35px !important;
}
.campoEditar:hover {
	color:blue;cursor: pointer;
}
.campoTexto {
	width: 200px !important;
}
.campoNumero {
	width: 70px !important;
}
.campoArea {
	width: 300px !important;
}
.campoLista {
	width: 160px !important;
}
.campoFechaLarga {
	width: 160px !important;
}
.glyphicon.normal-right-spinner {
	-webkit-animation: glyphicon-spin-r 2s infinite linear;
	animation: glyphicon-spin-r 2s infinite linear;
}      
@-webkit-keyframes glyphicon-spin-r {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}
@keyframes glyphicon-spin-r {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
} 
tbody tr td {
	white-space: nowrap;
}
.tdSeleccion {
	width:35px !important;
}
.tdBotones {
	width:35px !important;
}
.campoEditar:hover {
	color:blue;cursor: pointer;
}
.campoTexto {
	width: 200px !important;
}
.campoNumero {
	width: 70px !important;
}
.campoArea {
	width: 300px !important;
}
.campoLista {
	width: 160px !important;
}
.campoFechaLarga {
	width: 160px !important;
}
.glyphicon.normal-right-spinner {
	-webkit-animation: glyphicon-spin-r 2s infinite linear;
	animation: glyphicon-spin-r 2s infinite linear;
}      
@-webkit-keyframes glyphicon-spin-r {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}
@keyframes glyphicon-spin-r {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
} 
tbody tr td {
	white-space: nowrap;
}
.tdSeleccion {
	width:35px !important;
}
.tdBotones {
	width:35px !important;
}
.campoEditar:hover {
	color:blue;cursor: pointer;
}
.campoTexto {
	width: 200px !important;
}
.campoNumero {
	width: 70px !important;
}
.campoArea {
	width: 300px !important;
}
.campoLista {
	width: 160px !important;
}
.campoFechaLarga {
	width: 160px !important;
}
.glyphicon.normal-right-spinner {
	-webkit-animation: glyphicon-spin-r 2s infinite linear;
	animation: glyphicon-spin-r 2s infinite linear;
}      
@-webkit-keyframes glyphicon-spin-r {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}
@keyframes glyphicon-spin-r {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
} 
tbody tr td {
	white-space: nowrap;
}
.tdSeleccion {
	width:35px !important;
}
.tdBotones {
	width:35px !important;
}
.campoEditar:hover {
	color:blue;cursor: pointer;
}
.campoTexto {
	width: 200px !important;
}
.campoNumero {
	width: 70px !important;
}
.campoArea {
	width: 300px !important;
}
.campoLista {
	width: 160px !important;
}
.campoFechaLarga {
	width: 160px !important;
}
.glyphicon.normal-right-spinner {
	-webkit-animation: glyphicon-spin-r 2s infinite linear;
	animation: glyphicon-spin-r 2s infinite linear;
}      
@-webkit-keyframes glyphicon-spin-r {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}
@keyframes glyphicon-spin-r {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
} 
