<header class="bg-header" id="header">
		<!-- Header top redes sociales y cuenta -->
		<div class="header-top">
			<ul class="redes-sociales">
				<li>
					<a href="https://www.facebook.com/bittathome/" target="_blank">
						<img src="images/icon-fb.png" alt="facebook">
					</a>
				</li>
				<!-- <li>
					<a href="#" target="_blank">
						<img src="images/icon-tw.png" alt="twitter">
					</a>
				</li> -->
				<li>
					<a href="https://www.instagram.com/bittathome/" target="_blank">
						<img src="images/icon-instagram.png" alt="instagram">
					</a>
				</li>
				<li>
					<a href="https://www.youtube.com/channel/UC0I5BwkrgFrm9K4ln3GAIhw/featured" target="_blank">
						<img src="images/icon-yt.png" alt="youtube">
					</a>
				</li>
			</ul>

			<ul class="cuenta">
				<li>
					<a href="#">Ingresar <i class="fas fa-caret-right"></i></a>
				</li>
				<li>
					<a href="#">Crear cuenta <i class="fas fa-user-alt"></i></a>
				</li>
			</ul>
		</div>
		<!-- Header top redes sociales y cuenta fin -->
		
		<!-- Cabezote logo -->
		<div class="cont-logo">
			<div id="logo">
				<a href="/">
					<img src="images/home-bittat-group.png" alt="bittat logo">
				</a>
			</div>

			<div class="whatsapp-header">
				<a href="https://api.whatsapp.com/send?phone=573229440083" target="_blank">
					<i class="fab fa-whatsapp"></i>
					<span>322 944 0083</span>
				</a>
			</div>
		</div>
		
		<!-- Cabezote logo fin -->

		<div class="cont-header">
			<div id="btn-menu-responsive" class="btn-menu">
				<span></span>
				<div id="text-menu"></div>
			</div>

			<nav id="menu">
				<ul>
					<li>
						<a href="#">Ofertas</a>
					</li>
					<li>
						<a href="#">Novedades</a>
					</li>
					<li>
						<a href="#">Destacados</a>
					</li>
				</ul>
			</nav>

			<div class="seccion-derecha-header">
				<div class="btn-buscador-movil">
					<i class="fas fa-search"></i>
				</div>

				<div class="buscador">
					<input type="text" id="buscar" placeholder="¿Qué buscas?">
					<button class="bg-azul" type="submit">
						<i class="fas fa-search"></i>
					</button>
				</div>

				<div class="lista-deseos">
					<a href="#">
						<i class="fas fa-heart"></i>
					</a>
				</div>

				<div id="car">
					<span class="icon icon-car icon40"></span>
					<p class="cantidad">1</p>
				</div>
			</div>
		</div>		
	</header>