.box-title {
  font-size: 18px !important;
}
.content-wrapper {
  background-image: url("https://www.solucionaticos.com/ts02/assets/imagenes/store-984393_1920.jpg");
}
.chosen-container {
  width: 100% !important;
}
.content-header h1 {
  background-color: #fff;
  padding: 5px;
}
.row > .info {
  margin-bottom:15px;
}
.error_caja {
  padding: 30px;
}
.breadcrumb {
  margin-right: 10px;
}
.content-header>.breadcrumb>li>a {
  color: #777 !important;
}
.breadcrumb>.active {
    color: #333 !important;
}
.selLangBE {
	color:grey;
}
.selLangBE:hover {
	color:orange;
}
.selLangBEActive {
	color:orange;
}
.help-block {
    color: #ff0000 !important;
}
