/*estilos pagina energy*/
.icon60{
	width: 60px;
	height: 60px;
}

.icon-paneles{
	background-image: url(../images/icon-panel.png);
}
.icon-servicios{
	background-image: url(../images/icon-servicios.png);
}
.icon-ahorro{
	background-image: url(../images/icon-ahorro.png);
}
.icon-gratis{
	background-image: url(../images/icon-gratis.png);
}
.icon-generacion{
	background-image: url(../images/icon-generacion.png);
}
.icon-protege{
	background-image: url(../images/icon-protege.png);
}
.icon-durabilidad{
	background-image: url(../images/icon-durabilidad.png);
}
.icon-instalacion{
	background-image: url(../images/icon-instalacion.png);
}
.icon-sitio-ideal{
	background-image: url(../images/icon-sitio-ideal.png);
}
.icon-impuestos{
	background-image: url(../images/icon-impuestos.png);
}
.icon-diseno{
	background-image: url(../images/icon-diseno.png);
}
.icon-asesoria{
	background-image: url(../images/icon-asesoria.png);
}
.icon-consultoria{
	background-image: url(../images/icon-consultoria.png);
}
.icon-revision{
	background-image: url(../images/icon-revision.png);
}
.icon-mantenimiento{
	background-image: url(../images/icon-mantenimiento.png);
}
.icon-suministros{
	background-image: url(../images/icon-suministros.png);
}

.servicios-energy {
    background-color: #F7F7F7;
    padding: 30px 5% 30px 10%;
}

.cont-servicio {
    background-color: #fff;
    border: 1px solid #EFEFEF;
    padding: 10px;
    display: inline-block;
    width: 42%;
}

.cont-servicio:first-child{
	margin-right: 2%;
}

.cont-servicio h3 {
    color: #673378;
    margin-top: 10px;
}

.beneficios {
    background: rgba(60,179,157,1);
    background: -moz-linear-gradient(45deg, rgba(60,179,157,1) 0%, rgba(229,145,0,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(60,179,157,1)), color-stop(100%, rgba(229,145,0,1)));
    background: -webkit-linear-gradient(45deg, rgba(60,179,157,1) 0%, rgba(229,145,0,1) 100%);
    background: -o-linear-gradient(45deg, rgba(60,179,157,1) 0%, rgba(229,145,0,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(60,179,157,1) 0%, rgba(229,145,0,1) 100%);
    background: linear-gradient(45deg, rgba(60,179,157,1) 0%, rgba(229,145,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3cb39d', endColorstr='#e59100', GradientType=1 );
    padding: 40px 5% 150px 5%;
    text-align: center;
}

.descrip-beneficios{
	color: #fff;
}

.descrip-beneficios p{
	margin: 20px 0;
}

.beneficios .col{
	text-align: left;
	margin-bottom: 2%;
}

.beneficios .col .cont-servicio{
	display: block;
	width: 93%;
}

.beneficios .col .icon, .beneficios .col div{
	display: inline-block;
	vertical-align: middle;
}

.beneficios .col .icon{
	margin-right: 10px;
	display: inline-block;
}

.beneficios .col .cont-servicio div {
    width: 70%;
    height: 80px;
}

.beneficios .col h6{
	color: #673378;
}

.beneficios .col p{
	color: #777777;
	line-height: 100%;
}

.asesor-contacto {
    overflow: hidden;
    padding: 70px 10% 0 10%;
    margin: -140px 0 40px 0;
}

.asesor, .contacto{
	width: 50%;
	float: left;
	height: 300px;
}

.asesor{
	background-color: #673378;
	position: relative;
}

.asesor:after{
	content: "";
	width: 300px;
	height: 360px;
	background-image: url(../images/distribuidor.png);
	position: absolute;
	bottom: 0;
	right: 0;
	background-size: 100%;
	background-repeat: no-repeat;
}

.contacto{
	background-color: #E59200;
	-ms-display: flex;
  	display: flex;
  	/* alineacion vertical */
  	align-items: center;
   	/* alineacion horizontal */
  	justify-content: center;
  	text-align: center;
  	color: #fff;
  	font-size: 20px;
  	line-height: 130%;
  	font-weight: 300;
  	text-transform: uppercase;
}

.cont-contacto {
    border: 2px solid #fff;
    padding: 5% 16%;
}

.asesor h2 {
    color: #fff;
    width: 30%;
    text-transform: uppercase;
    line-height: 140%;
    font-size: 26px;
    margin: 5% 0 0 5%;
}

.servicios-energy.cols2 h2 {
    color: #E59200;
    font-weight: 300;
}

.servicios-energy.cols2 h2 strong{
	display: block;
}


.servicios-interna {
    padding: 30px 10%;
    text-align: center;
}

.cont-servicio-interna {
    border: 1px solid #777777;
    padding: 10px;
    text-align: center;
    display: inline-block;
    width: 20%;
    margin: 0 1% 2% 1%;
    vertical-align: top;
}

.cont-servicio-interna h6 {
    color: #673378;
    margin: 10px 0;
}

.cont-servicio-interna p {
    color: #777777;
    font-size: 13px;
    line-height: 140%;
    height: 80px;
}
/*estilos pagina energy fin*/