footer {
    border-top: 2px solid #3cb39d;
    background-image: url(../images/bg-footer.png);
    background-size: cover;
}

.menu-foot ul li a {
    color: #fff;
    margin-left: 10px;
}

.menu-foot ul li a:hover{
    color: #0fefc4;
}

.menu-foot ul {
    display: inline-block;
    vertical-align: top;
    margin: 0 2%;
}

.cont-footer {
	padding: 2% 5%;
	overflow: hidden;
}

.cont-footer h6 {
    border-bottom: 1px solid #cc09be;
    padding: 5px 10px;
    margin-bottom: 10px;
    color: #fff;
    display: inline-block;
}

.menu-foot h6 a{
	margin-left: 0 !important;
}

.menu-foot {
    width: 60%;
    float: left;
    margin-right: 2%;
}

.formulario-foot {
    width: 38%;
    float: left;
}

.formulario-foot input, .formulario-foot textarea {
    border: 1px solid #3cb39d;
    outline: none;
    height: 40px;
    padding: 0 2%;
    font-size: 13px;
    width: 96%;
    margin-bottom: 10px;
}

.formulario-foot textarea{
	height: 100px;
	resize: none;
	padding: 10px 2%;
}

input#enviar {
    background-color: #673378;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    width: auto;
    padding: 0 20px;
    cursor: pointer;
    border: 3px solid #fff;
}

input#enviar:hover{
	background-color: transparent;
	color: #fff;
	border: 3px solid #fff;
}

.formulario-foot form {
    text-align: right;
}

.datos-contacto {
    margin-top: 4%;
}

.datos-contacto li {
    color: #fff;
    font-size: 13px;
    font-weight: 100;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

ul.mapa-google {
    width: 55%;
}

.copy-footer {
    background-color: #3cb39d;
    text-align: center;
    padding: 15px 0;
}

.copy-footer p {
    display: inline-block;
    color: #fff;
}

.copy-footer .redes-sociales {
    float: right;
    margin: -10px 20px 0 0;
}

.copy-footer .redes-sociales a {
    color: #fff;
}

.copy-footer .redes-sociales a:hover {
    color: #fff;
}

#top{
	position: fixed;
	bottom: 30%;
	right: 10px;
	transition: 0.5s all;
    opacity: 0;
}

.add-top{
	opacity: 1 !important;
}

.icon-top {
    background-image: url(../images/icon-top.png);
}

.logo-footer{
    width: 200px;
}

.datos-contacto i{
    color: #3cb39d;
    margin-right: 10px;
}

/*Check Out*/
.footer-checkout ul {
    display: inline-block;
    text-align: left;
}

.footer-checkout .datos-contacto {
    margin: 2%;
}

.footer-checkout {
    text-align: center;
    margin-top: 2%;
}

.footer-checkout h6 {
    border-bottom: 1px solid #cc09be;
    padding: 5px 10px;
    margin-bottom: 10px;
    color: #fff;
    display: block;
}

.footer-checkout .datos-contacto ul:first-child {
    width: 40%;
}
/*Check Out fin*/


.redes-sociales .marcas {
    width: auto;
}

.e-factory {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.e-factory p{
    display: inline-block;
    vertical-align: middle;
    font-size: 11px;
    font-weight: 100;
}

li.marcas a {
    width: 80px;
    vertical-align: middle;
}





