.bg-header{
    background: rgba(102,58,127,1);
    background: -moz-linear-gradient(left, rgba(102,58,127,1) 0%, rgba(95,100,140,1) 51%, rgba(57,187,161,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(102,58,127,1)), color-stop(51%, rgba(95,100,140,1)), color-stop(100%, rgba(57,187,161,1)));
    background: -webkit-linear-gradient(left, rgba(102,58,127,1) 0%, rgba(95,100,140,1) 51%, rgba(57,187,161,1) 100%);
    background: -o-linear-gradient(left, rgba(102,58,127,1) 0%, rgba(95,100,140,1) 51%, rgba(57,187,161,1) 100%);
    background: -ms-linear-gradient(left, rgba(102,58,127,1) 0%, rgba(95,100,140,1) 51%, rgba(57,187,161,1) 100%);
    background: linear-gradient(to right, rgba(102,58,127,1) 0%, rgba(95,100,140,1) 51%, rgba(57,187,161,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#663a7f', endColorstr='#39bba1', GradientType=1 );
}

.redes-sociales li {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
}

.redes-sociales li a{
	color: #fff;
	font-size: 14px;
	padding: 5px;
}

.header-top a:hover {
/*
    color: #64ddec;
*/
    color: #71428a;
}

.header-top {
    padding: 0 5%;
    overflow: hidden;
    border-bottom: 1px solid #67b69b;
}

.header-top .redes-sociales {
    display: inline-block;
}

.cuenta{
	float: right;
}

.cuenta a i{
    font-size: 16px;
    margin-left: 5px;
    vertical-align: middle;
}

.cuenta a {
    color: #fff;
    padding: 10px 10px;
}

.cuenta li {
    display: inline-block;
    vertical-align: middle;
    border-left: 1px solid #fff;
}

.cuenta li:last-child{
	margin-right: 0;
}

.cont-header{
	width: 90%;
	margin: 0 auto;
	padding: 10px 0;
    position: relative;
}

#logo {
    width: 200px;
    display: inline-block;
    margin: 0 auto;
}

.cont-logo{
    /*background-image: url(../images/bg-header.png);*/
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 10px 0;
    position: relative;
}

.whatsapp-header {
    position: absolute;
    top: 30%;
    right: 5%;
}

.whatsapp-header i {
    font-size: 40px;
    display: inline-block;
    vertical-align: middle;
    margin-right: -13px;
}

.whatsapp-header a {
    color: #fff;
    font-size: 18px;
}

.whatsapp-header a span{
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 5px 10px 5px 20px;
    display: inline-block;
    vertical-align: middle;
}

.bg-azul {
    background-color: #663a7f;
}

#menu h4 a{
	color: #fff;
	display: inline-block;
	padding: 10px 20px;
}

#menu h4 a:hover{
	background-color: #31b6c7;
}

#menu h4 a i{
	margin-left: 10px;
}

#menu{
	display: inline-block;
	vertical-align: middle;
	position: relative;
	transition: 1s all;
}

#menu li{
    display: inline-block;
    margin: 5px 30px 5px 0;
}

#menu li:last-child{
    margin-right: 0;
}

#menu li a{
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 40px
}

.submenu {
    position: absolute;
    top: 35px;
    z-index: 999;
    border-top: 2px solid #40bfd0;
    visibility: hidden;
    opacity: 0;
    transition: .5s all;
    background-color: #fff;
    width: 270px;
}

#menu .submenu ul li {
    display: block;
    border-bottom: 1px solid #ccc;
    margin: 0;
}

#menu .submenu ul li a {
    color: #663a7f;
    display: block;
    padding: 12px;
    line-height: 110%;
}

#menu > ul > li:hover .submenu{
	opacity: 1;
	visibility: visible;
	top: 50px;
}

.submenu ul {
    display: block;
    vertical-align: top;
}

.submenu a{
	color: #fff;
}

.submenu h6 {
    border-bottom: 1px solid #fff;
    padding: 5px 0;
    margin-bottom: 10px;
}

.seccion-derecha-header {
    position: absolute;
    top: 15px;
    right: 0;
    width: 60%;
    text-align: right;
}

.buscador {
    position: relative;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    width: 75%;
    margin-left: 10px;
}

#buscar {
    background-color: #fff;
    border: 1px solid #efebe3;
    height: 40px;
    outline: none;
    padding: 0 2%;
    width: 95%;
    color: #efebe3;
    font-weight: 100;
/*
    font-size: 13px;
*/
    font-size: 18px;
}

.buscador button {
    border: 0;
    position: absolute;
    height: 40px;
    width: 40px;
    top: 1px;
    right: 1px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    outline: none;
}

.lista-deseos {
    margin: 0 10px;
    position: relative;
    z-index: 99;
}

.lista-deseos .cantidad {
    right: -5px;
}

#buscar::-webkit-input-placeholder {
  color: #565656;
}
#buscar:-moz-placeholder {
  color: #565656;
}
#buscar:-ms-input-placeholder {
  color: #565656;
}
#buscar[placeholder] {
  color: #565656;
}

.seccion-derecha-header div{
    display: inline-block;
    vertical-align: middle;
}

.icon-car{
	background-image: url(../images/icon-car.png);
    background-color: #663a7f;
    border: 1px solid #fff;
    background-size: 80%;
    background-position: center;
}

#car {
    position: relative;
}

.cantidad {
    width: 30px;
    height: 19px;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    color: #fff;
    line-height: 20px;
    position: absolute;
    top: -10px;
    right: -20px;
    background-image: url(../images/img-cantidad.png);
    background-size: 100%;
}

.lista-deseos a {
    background-color: #663a7f;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
    color: #fff;
}


/*estlos botón responsive*/
.btn-menu {
    width: 50px;
    height: 40px;
    cursor: pointer;
    position: relative;
    cursor: pointer;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    display: none;
}

.btn-menu span {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #59d8e9;
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
}

.btn-menu span:before {
    position: absolute;
    top: 15px;
    left: 0;
    content: ' ';
    background-color: #59d8e9;
}

.btn-menu span:after {
    position: absolute;
    top: 30px;
    left: 0;
    content: ' ';
    background-color: #59d8e9;
}

.close span {
	position: absolute;
	left: -6em;
	background: none;
}

.close span:after {
    position: absolute;
    left: 6em;
    top: 18px;
    background-color: #ff002a;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 50px !important;
}

.close span:before {
    display: block;
    position: absolute;
    background-color: #ff002a;
    top: 18px;
    left: 6em;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.btn-menu span, .btn-menu span:before, .btn-menu span:after, .close span, .close span:before, .close span:after {
    width: 50px;
    height: 3px;
    border-radius: 0.2em;
    -moz-transition: all .5s cubic-bezier(0.5,-0.6,0.19,1);
    -o-transition: all .5s cubic-bezier(0.5,-0.6,0.19,1);
    -webkit-transition: all .5s cubic-bezier(0.5,-0.6,0.19,1);
    transition: all .5s cubic-bezier(0.5,-0.6,0.19,1);
}

#text-menu{
	display: none;
}

#menu.add-menu{
	right: 0 !important;
	transition: 0.5s all;
}

.btn-buscador-movil {
    background-color: #663a7f;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
    color: #fff;
    margin-left: 10px;
    display: none !important;
}
/*estlos botón responsive fin*/













