.deseos_sel{
	width:30px;
	height:30px;
	border:0;
	background-color:#e59200;
	color:#fff;
	font-size:16px;
	position:absolute;
	top:0;
	right:0;
	cursor:pointer;
	outline:none;
	z-index:99;
}

.deseos_sel:hover{
	background-color:#663a7f;
	color:#fff;
}

.ventana-emergente{
	z-index:1000;
}

.cont-plano{
	width:500px!important;
	padding-bottom:200px;
}

.error{
	color:red!important;
}

.errorPagina{
	color:#e59200;
	font-size:16px;
}

.errorPaginaMargen20{
	margin-bottom:20px;
}

.errorPaginaMargen200{
	margin-bottom:200px;
}

.alert-success{
	color:#39bba1;
	font-size:16px;
	margin-bottom:20px;
	text-align:center;
}

.alert-success p{
	color:#39bba1;
	font-size:16px;
	margin-bottom:20px;
	text-align:center;
}

.alert-success h4{
	margin-bottom:20px;
}

.alert-info{
	color:#5f678d;
	font-size:16px;
	margin-bottom:20px;
	text-align:center;
}

.alert-info p{
	color:#5f678d;
	font-size:16px;
	margin-bottom:20px;
	text-align:center;
}

.alert-info h4{
	margin-bottom:20px;
}

.alert-warning{
	color:orange;
	font-size:16px;
	margin-bottom:20px;
	text-align:center;
}

.alert-warning p{
	color:orange;
	font-size:16px;
	margin-bottom:20px;
	text-align:center;
}

.alert-warning h4{
	margin-bottom:20px;
}

.alert-danger{
	color:red;
	font-size:16px;
	margin-bottom:20px;
	text-align:center;
}

.alert-danger p{
	color:red;
	font-size:16px;
	margin-bottom:20px;
	text-align:center;
}

.alert-danger h4{
	margin-bottom:20px;
}

.cont-plano p{
	font-size:13px!important;
	margin-bottom:0!important;
}

.btn-gris{
	background-color:#9c9c9c;
}

.texto-gris {
    color: #b9b9b9!important;
}

.total-carrito{
	text-align:right;
}

#paso-2-1{
	padding-bottom:15px;
}

#paso-2-1 p{
	padding-top:15px;
	padding-bottom:15px;
}

#paso-3-1{
	padding-left:15px;
	padding-bottom:15px;
}

#paso-3-1 p{
	padding-top:15px;
	padding-bottom:15px;
}

.oculto{
	display:none;
}

.btnSpan{
	text-decoration:none;
	display:inline-block;
}

#formulario-perfil div{
	margin-bottom:2%;
	float:left;
	width:100%;
}

#formulario-perfil{
	overflow:hidden;
	position:relative;
}

#codigo_seguridad_tarjeta_datos{
	width:90px;
}

.cont-plano-grande h6 {
    color: #3cb39d;
    margin: 30px 0 10px 0;
    border-bottom: 1px solid #3cb39d;
    padding: 5px 0;
}

.cont-plano-grande {
    width: 80%;
    margin: 0 auto;
}

.cont-plano-grande p {
    color: #5f678d;
    font-size: 16px;
    line-height: 130%;
    margin-bottom: 10px;
}


