/*Import fuente google fonts*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900');
/*Import fuente google fonts fin*/

/*general*/
body{
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 150%;
}

.loading:before{
	content: "";
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(255,255,255,0.9);
	z-index: 99;
}

.loading:after{
	content: "";
	width: 100px;
	height: 100px;
	background-image: url(../images/loading.gif);
	background-size: 100%;
	z-index: 9999;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -50px;
}

a img, img{
	border: 0;
}

a{
	text-decoration: none;
	display: inline-block;
}

p{
	margin: 0;
}

a:hover{
	cursor: pointer;
}

ul{
	margin: 0;
	padding: 0;
}

li{
	list-style: none;
}


/*type*/

h1,h2,h3,h4,h5,h6{
	margin: 0;
	line-height: 100%;
}

h1{
	font-size: calc(20px + (35 - 20) * ((100vw - 300px) / (1500 - 300)));
}

h2{
	font-size: calc(18px + (30 - 18) * ((100vw - 300px) / (1500 - 300)));
}

h3{
	font-size: calc(18px + (25 - 18) * ((100vw - 300px) / (1500 - 300)));
}

h4{
	font-size: calc(16px + (22 - 16) * ((100vw - 300px) / (1500 - 300)));
}

h5{
	font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1500 - 300)));
}

h6 {
    font-size: calc(14px + (22 - 14) * ((100vw - 300px)/(1500 - 300)));
}

img{
	width: 100%;
	vertical-align: bottom;
}


.f-light{
	font-weight: 100;
}

.right{
	text-align: right;
}

.left{
	text-align: left;
}

.center{
	text-align: center;
}

.float{
	float: left;
}

.copy{
	font-size: 10px;
	padding: 0 10px;
}


/*grid*/

.col-c{
	padding: 10px;
	position: relative;
	overflow: hidden;
}

.cols2{
	overflow: hidden;
}

.cols2 > .col{
	width: 49%;
	margin-right: 2%;
	float: left;
}

.cols2 > .col:nth-child(2n){
	margin-right: 0;
}

.cols3{
	overflow: hidden;
}

.cols3 > .col{
	width: 32%;
	margin-right: 2%;
	float: left;
}

.cols3 > .col2{
	width: 66%;
	margin-right: 2%;
	float: left;
}

.cols3 > .col:nth-child(3n){
	margin-right: 0;
}

.cols4{
	overflow: hidden;
}

.cols4 > .col{
	width: 23.5%;
	margin-right: 2%;
	float: left;
}

.cols4 > .col2{
	width: 49%;
	margin-right: 2%;
	float: left;
}

.cols4 > .col3{
	width: 74.5%;
	margin-right: 2%;
	float: left;
}

.cols4 > .col:nth-child(4n){
	margin-right: 0;
}

.cols5{
	overflow: hidden;
}

.cols5 > .col{
	width: 18.4%;
	margin-right: 2%;
	float: left;
}

.cols5 > .col2{
	width: 38.8%;
	margin-right: 2%;
	float: left;
}

.cols5 > .col3{
	width: 59.2%;
	margin-right: 2%;
	float: left;
}

.cols5 > .col4{
	width: 79.6%;
	margin-right: 2%;
	float: left;
}

.cols5 > .col:nth-child(5n){
	margin-right: 0;
}

.col.mr0, .mr0, .col2.mr0, .col3.mr0, .col4.mr0{ 
	margin-right: 0px;
}

.mb{
	margin-bottom: 10px;
}

.mb0{
	margin-bottom: 0;
}

.pr{
	position: relative;
	overflow: hidden;
}

/*ICONS*/

.icon{
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
}

.icon40{
    width: 40px;
    height: 40px;
}

.icon80{
    width: 80px;
    height: 80px;
}

.icon-car{
	background-image: url(../images/icon-car.svg);
}

nav ul{
	margin: 0;
	padding: 0;
}

nav ul li{
	list-style: none;
}

/*Estilos contenido*/

/*Estilo titulos y grilla general*/
.titulos h2 {
    color: #5f678d;
    position: relative;
    display: inline-block;
    padding: 10px 0;
}

.titulos h2:after {
    content: "";
    width: 150px;
    height: 2px;
    background-color: #39bba1;
    position: absolute;
    bottom: 20px;
    left: -170px;
    z-index: -1;
}

.titulos h2:before {
    content: "";
    width: 150px;
    height: 2px;
    background-color: #39bba1;
    position: absolute;
    bottom: 20px;
    right: -170px;
    z-index: -1;
}

.titulos {
    width: 90%;
    margin: 0 auto;
    padding: 2% 0;
    overflow: hidden;
    text-align: center;
}

.btn-todo {
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    border: 1px solid #fff;
    background-color: #5f678d;
    padding: 10px;
    letter-spacing: 2px;
    box-shadow: 2px 3px 5px rgba(0,0,0,0.5);
    margin-right: 5px;
    transition: 0.5s all;
}

.btn-todo:hover{
	background-color: #3cb39d;
	color: #fff;
	box-shadow: 2px 3px 5px rgba(0,0,0,0);
}

.cont-btn-todo{
	float: right;
}

.grilla-vistas li{
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}

.grilla-vistas li a{
	font-size: 14px;
	color: #42ab90;
}

.grilla-vistas ul{
	width: 90%;
	margin: 0 auto;
	text-align: right;
}

.grilla-vistas {
	background-color: #fff;
	padding: 10px 0;
	margin-bottom: 2%;
}

.grilla-vistas li a i{
	font-size: 18px;
	margin-left: 5px;
	vertical-align: middle;
}

.grilla-vistas li:last-child{
	margin-right: 0;
}
/*Estilo titulos y grilla general fin*/

/*Estilos vitrina producto*/
.slider-movil{
	display: none;
}

.vitrina-productos-home .carousel {
    width: 95%;
    margin: 0 auto;
    padding: 0 0 1% 0;
}

.cont-producto {
    border: 1px solid #c9c9c9;
    background-color: #fff;
    position: relative;
    box-shadow: 0 0 7px rgba(0,0,0,0.3);
}

.cont-img-producto{
	overflow: hidden;
	display: block;
	margin-bottom: 5px;
}

.cont-img-producto img{
	transition: 0.5s all;
}

.cont-producto:hover .cont-img-producto img{
	transform: scale(1.2);
}

.nombre-producto {
    color: #5f678d;
    font-size: calc(13px + (16 - 13) * ((100vw - 300px) / (1500 - 300)));
    font-weight: 400;
    line-height: 110%;
    height: 40px;
    overflow: hidden;
    text-transform: uppercase;
    text-align: center;
    margin-top: 40px;
    width: 100%;
}

.cont-precios{
	padding: 10px;
	text-align: center;
}

.precio-dcto {
    font-size: calc(18px + (22 - 18) * ((100vw - 300px) / (1500 - 300)));
    color: #39bba1;
}

.precio-real{
	font-size: calc(13px + (14 - 13) * ((100vw - 300px) / (1500 - 300)));
	color: #39bba1;
	font-weight: 300;
	text-decoration: line-through;
}

.cont-precios h4 {
    display: inline-block;
    vertical-align: middle;
}

.cont-btn-producto{
	background-color: rgba(102,58,123,0.9);
	position: absolute;
	top: 10px;
	left: 0;
	width: 100%;
	height: 100%;
	-ms-display: flex;
 	display: flex;
  	/* alineacion vertical */
  	align-items: center;
    /* alineacion horizontal */
  	justify-content: center;
	visibility: hidden;
	opacity: 0;
	transition: 0.5s all;
}

.cont-producto:hover .cont-btn-producto{
	visibility: visible;
	opacity: 1;
	top: 0;
}

.cont-producto:hover .cont-img-producto,
.cont-producto:hover .cont-precios,
.cont-producto:hover .nombre-producto{
	-webkit-filter:blur(4px);
	filter:blur(4px);
	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='4');
}

.btn-producto {
    background-color: #39bba1;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 600;
    border: 1px solid #fff;
    height: 40px;
    padding: 0 15px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s all;
}

button.btn-producto a {
    color: #fff;
}

.btn-producto:hover{
	background-color: transparent;
	border: 1px solid  #39bba1;
	color: #39bba1;
}

.flag-dcto {
    width: 82px;
    height: 40px;
    position: absolute;
    top: -10px;
    left: -22px;
    background-image: url(../images/flag-dcto.png);
    background-size: 100%;
    color: #fff;
    background-repeat: no-repeat;
    z-index: 99;
}

.carousel .flex-viewport {
    padding: 2% 5% 4% 5%;
}

.flag-dcto span{
	font-weight: 600;
	font-size: 25px;
	text-align: center;
	margin: 10px 0 0 5px;
	display: block;
	width: 50%;
}

.flag-nuevo {
    width: 80px;
    position: absolute;
    bottom: 110px;
    right: 0;
}

.deseos {
    width: 30px;
    height: 30px;
    border: 0;
    background-color: #663a7f;
    color: #fff;
    font-size: 16px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    outline: none;
    z-index: 99;
}

.deseos:hover{
	background-color: #39bba1;
	color: #fff;
}
/*Estilos vitrina producto fin*/

/*Estilos banner transversales*/
.banner-transversales {
    padding: 4% 0;
    background-image: url(../images/bg-banner.png);
    background-size: cover;
    text-align: center;
    color: #fff;
}

.banner-transversales .cols3{
	width: 80%;
	margin: 0 auto;
}

.banner-transversales h3{
	margin: 10px 0;
}

.banner-transversales p{
	width: 80%;
	margin: 0 auto;
	font-weight: 100;
}

.banner-transversales .icon {
    border: 3px solid #fff;
    background-position: center;
    margin-bottom: 10px;
    background-size: 80%;
}

.icon-envio{
	background-image: url(../images/icon-envio.png);
}
.icon-horario{
	background-image: url(../images/icon-horario.png);
}
.icon-garantia{
	background-image: url(../images/icon-garantia.png);
}
/*Estilos banner transversales fin*/


/*Seccion marca*/
.marcas-bittat{
	padding: 2% 0;
	width: 95%;
	margin: 0 auto;
}

.logo-marca {
    width: 150px;
    display: inline-block;
    vertical-align: middle;
}

.cont-marca {
    display: inline-block;
    vertical-align: middle;
    width: 65%;
    margin-left: 5%;
    color: #565656;
    line-height: 16px;
}

.btn{
	border: 2px solid #fff;
	color: #fff;
	font-size: 18px;
	padding: 0 20px;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
	line-height: 35px;
}

.btn-morado{
	background-color: #663a7f;
}

.btn-morado:hover{
	background-color: transparent;
	color: #663a7f;
	border: 2px solid #663a7f;
}

.btn-naranja{
	background-color: #e59200;
}

.btn-naranja:hover{
	background-color: transparent;
	color: #e59200;
	border: 2px solid #e59200;
}

.cont-marca a{
	margin-top: 15px;
}

.borde-marca{
	border-right: 1px solid #663a7f;
}
/*Seccion marca fin */

/*Estilos categoria*/
.listado-producto{
	width: 90%;
	margin: 0 auto;
}

.listado-producto .cont-producto {
    margin: 6%;
}

.miga-ordenar {
    width: 90%;
    margin: 0 auto;
    padding: 10px 0;
}

.miga-pan li{
	text-transform: uppercase;
	font-size: 16px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	position: relative;
}

.miga-pan li:after{
	content: "/";
	color: #5f678d;
	margin-left: 10px;
}

.miga-pan li:last-child:after{
	content: none;
}

.miga-pan li a{
	color: #5f678d;
}

.miga-pan li span{
	color: #3cb39d;
}

#ordenar{
	border: 2px solid #5f678d;
	color: #5f678d;
	text-transform: uppercase;
	font-size: 16px;
	border-radius: 0;
	height: 40px;
	background-color: transparent;
	outline: none;
}

.ordenar-productos {
    float: right;
    margin-top: 8px;
}

.miga-pan {
    display: inline-block;
    vertical-align: middle;
    margin: 20px 0;
}

.paginador {
    margin: 2% 0;
}

.paginador li{
	display: inline-block;
	vertical-align: middle;
	margin-right: -3px;
}

.paginador ul{
	overflow: hidden;
	text-align: center;
}

.paginador li a{
	border-top: 1px solid #c9c9c9;
	border-bottom: 1px solid #c9c9c9;
	border-left: 1px solid #c9c9c9;
	width: 30px;
	height: 30px;
	text-align: center;
	color: #a8a8a8;
	line-height: 30px;
	font-size: 16px;
}

.paginador li:last-child a{
	border-right: 1px solid #c9c9c9;
}

.paginador .pagina-activa a, .paginador li a:hover{
	background-color: #39bba1;
	color: #fff;
}
/*Estilos categoria Fin*/


/*Estilos Detalle producto */
.detalle-producto {
    overflow: hidden;
    position: relative;
    padding: 2% 5%;
}

.producto-zoom {
    width: 50%;
    margin-right: 2%;
    float: left;
}

.producto-info {
    width: 48%;
    float: left;
}

.nombre-producto-detalle {
    color: #5f678d;
    font-weight: 500;
    margin-bottom: 2%;
}

.producto-info .cont-precios {
    padding: 10px 0;
    text-align: left;
}

.producto-info .cont-precios h4 {
    display: block;
}

.producto-info .precio-dcto {
    font-size: calc(18px + (30 - 18) * ((100vw - 300px) / (1500 - 300)));
    margin-bottom: 10px
}

.producto-info .precio-real {
    font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1500 - 300)));
}

.descripcion-producto p {
    color: #777777;
    font-size: 20px;
    line-height: 18px;
    margin-bottom: 10px;
    font-weight: 300;
}

.descripcion-producto {
    margin: 2% 0;
}

.color select{
	-moz-appearance:none;
	-webkit-appearance:none;
	-ms-appearance:none;
	-o-appearance:none;
	appearance:none;
	border-radius: 0;
	border: 1px solid #a0a0a0;
	color: #565656;
	font-size: 16px;
	height: 39px;
	padding: 0 10px;
	outline: none;
	background-image: url(../images/down.png);
	background-size: 15px;
	background-repeat: no-repeat;
	background-position: 96% center;
	cursor: pointer;
}

.selector-cantidad input, .selector-cantidad button{
	border: 1px solid #a0a0a0;
	color: #565656;
	height: 35px;
	display: inline-block;
	vertical-align: middle;
	outline: none;
}

.selector-cantidad input{
	margin: 0 -4px 0 -4px;
	font-size: 16px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
    margin: 0;
}

.input-cantidad{
	width: 50px;
	text-align: center;
}

.selector-cantidad button {
    cursor: pointer;
    height: 39px;
    width: 40px;
    color: #39bba1;
    font-weight: 600;
    cursor: pointer;
}

.selector-cantidad button:hover{
	background-color: #39bba1;
	color: #fff;
}

.selector-cantidad, .color {
    display: inline-block;
    vertical-align: middle;
}

.color {
    margin-right: 20px;
}

.atributos {
    margin-top: 5%;
}

.cont-btn-carrito {
    text-align: right;
    margin-top: 5%;
}

.btn-producto.add-carrito {
    box-shadow: 0 4px 5px rgba(0,0,0,0.5);
    transition: 0.2s all;
    outline: none;
}

.btn-producto.add-carrito:hover {
    box-shadow: 0 4px 5px rgba(0,0,0,0.0);
}

.productos-relacionados {
    width: 90%;
    margin: 0 auto;
}
/*Estilos Detalle producto Fin*/

/*Zoom*/
.infoproducto figure.visor img{
	display:none;
	cursor:crosshair;
}

.infoproducto figure.visor img:first-child{
	display:block;
}

.flexslider{
	cursor: pointer;
}

.lupa{
	display:none;
	position:absolute;
	top:0;
	left:0;
	overflow:hidden;
}

.lupa img{
	position:relative;
	margin-top:-100%;
	margin-left:-50%;
	width:160%;
}

.compartirRedes{
	border:0px;
	box-shadow:none;
	margin:0px;
}

.compartirRedes li p{
	color:white;
	text-align: center;
	line-height: 30px;
	padding:8px;
	font-size:18px;
	margin-top:10px;
	margin-bottom:20px;
	cursor:pointer;
}

.btnFacebook{
	background:#46639f;
}

.btnGoogle{
	background:#d6513e;
}

.alturaComentarios{
	height:300px;
}

.contenido-lupa {
    width: 50%;
    float: left;
    position: absolute;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    top: 0;
    right: -50%;
}

.infoproducto{
	position: relative;
}

.infoproducto figure{
	margin: 0;
}
/*Zoom fin*/

/*Check Out*/
#content-checkout {
    width: 950px;
    margin: 0 auto;
}

.titulo-checkout h3 {
    border-bottom: 1px solid #673378;
    color: #494646;
    padding: 5px 0;
}

.titulo-checkout {
	margin: 2% 0;
}

/*carrito-compras*/
.producto-carrito img {
    width: 50px;
    border: 1px solid #c9c9c9;
    vertical-align: top;
    height: auto !important;
}

.titulos-carrito ul{
	overflow: hidden;
	position: relative;
}

.titulos-carrito ul li{
	float: left;
	color: #7c7b7b;
	font-size: 18px;
	font-weight: 600;
	width: 15%;
	text-align: left;
}

.titulos-carrito ul li:nth-child(1), .cont-carrito-producto div:nth-child(1){
	width: 40%;
}

.titulos-carrito {
    margin-bottom: 1%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1%;
}

.producto-carrito a {
    color: #adadad;
    text-transform: uppercase;
    font-size: 16px;
    vertical-align: top;
    margin-left: 1%;
    width: 70%;
}

.cont-carrito-producto {
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid #cc09be;
    padding: 10px 0;
}

.cont-carrito-producto div{
	float: left;
	width: 15%;
	color: #adadad;
	font-size: 16px;
	vertical-align: top;
}

.cont-carrito-producto .total-carrito {
    text-align: left;
    margin: 0;
}

.precio-dcto-carrito span {
    color: #39bba1;
}

.cantidad-carrito .btn-cantidad {
    background-color: #39bba1;
    border: 0;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    color: #fff;
    padding: 0;
    cursor: pointer;
    outline: none;
}

.btn-cantidad i {
    font-size: 10px;
    text-align: center;
    width: 100%;
    line-height: 20px;
}

.cantidad-carrito .input-cantidad {
    text-align: center;
    border: 1px solid #e2e2e2;
    height: 30px;
    width: 35px;
}

.eliminar-producto-carrito {
    color: #8cb9bf;
    font-size: 20px;
    font-weight: 300;
    position: absolute;
    top: 10px;
    right: 0;
}

input#cupon {
    border: 1px solid #e2e2e2;
    height: 35px;
    color: #7c7b7b;
    padding: 0 10px;
}

button.btn-producto.btn-finalizar-compra {
    box-shadow: 0 3px 5px rgba(0,0,0,0.5);
}

.total-cupon {
    text-align: right;
    margin-top: 2%;
    overflow: hidden;
}

.cupon, .total {
    display: inline-block;
    vertical-align: top;
}

.cupon {
    margin-right: 10%;
}

.cupon p {
    color: #39bba1;
    margin-bottom: 10px;
}

button.btn-cupon {
    border: 1px solid #39bba1;
    height: 38px;
    color: #39bba1;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
}

button.btn-cupon:hover{
	background-color: #39bba1;
	color: #fff;
}

.sub-total {
    color: #adadad;
    font-size: 16px;
    border-bottom: 1px solid#e2e2e2;
    padding-bottom: 10px;
}

.total-cont div span:first-child {
    width: 40%;
    text-align: left;
    display: inline-block;
}

.total-cont div span:last-child {
    width: 58%;
    text-align: right;
    display: inline-block;
}

.total-carrito {
    color: #39bba1;
    font-size: 18px;
    font-weight: 600;
    margin: 15px 0 30px 0;
}

.cont-finalizar-mail{
	text-align: center;
	font-size: 16px;
}

.cont-finalizar-mail p{
	color: #7c7b7b;
	margin: 5% 0;
}

.cont-finalizar-mail form{
	margin-bottom: 5%;
}

.cont-finalizar-mail p span{
	color: #39bba1;
}

#content-checkout input, .tabs-cont input, .tabs-cont select{
	border: 1px solid #e2e2e2;
	outline: none;
	height: 35px;
	padding: 0 2%;
	color: #919191;
	background-color: #fff;
}

.tabs-cont select{
	width: 100%;
}

#email-finalizar{
	width: 40%;
}

.total div:last-child a {
    color: #d205c5;
}

#msgNoCarrito {
    text-align: center;
}

#msgNoCarrito p:first-child {
    color: #46bba7 !important;
    font-weight: 600;
    text-transform: uppercase;
}

#msgNoCarrito p {
    color: #777777 !important;
    font-weight: 300;
}

#forma-carrito-correo {
    text-align: center;
}

.registro-correo.input-ventana input, .registro-contrasena.input-ventana input {
    padding: 0 2% 0 10% !important;
}

.metodo-pago {
    float: left;
    text-align: left;
}

.msj-fin-compra-productos h6 {
    color: #41c3ab;
    margin-bottom: 10px;
    text-align: left;
}

.msj-fin-compra-productos p {
    color: #777777;
    font-size: 13px;
}

.btn-terminar-sesion {
    margin-top: 20px;
}

.msj-fin-compra {
    text-align: center;
    padding: 2% 0 3% 0;
    font-size: 18px;
    color: #723a83;
    line-height: 130%;
}

.datos-envios-compra.cols2 {
    background-color: #f7f7f7;
    padding: 15px;
    margin-bottom: 3%;
}
/*carrito-compras fin*/

/*Datos de envio*/
.datos-finales h6{
	color: #7c7b7b;
}

.datos-finales p{
	color: #adadad;
	font-size: 13px;
	line-height: 14px;
	font-weight: 300;
	margin: 10px 0;
}

.datos-finales label{
	display: block;
	color: #adadad;
	font-size: 13px;
	margin-bottom: 5px;
}

.datos-finales input {
    width: 94%;
}

.oculto{
	display: none;
}

.contenido-datos, .datos-empresa, .c-fecha-vencimiento{
	position: relative;
	overflow: hidden;
}

.datos-comprador{
	width: 70%;
	float: left;
	margin-right: 2%;
	overflow: hidden;
}

.resumen-compra{
	width: 28%;
	float: left;
}

.tus-datos{
	width: 48%;
	float: left;
	margin-right: 2%;
}

.direccion-envio{
	width: 48%;
	float: left;
	margin-left: 2%;
}

.medio-pago{
	float: left;
	width: 98%;
	border: 1px solid #e2e2e2;
	margin-top: 5%;
}

#formulario-pago{
	padding: 10px;
	overflow: hidden;
}

#formulario-pago ul{
	width: 30%;
	float: left;
}

#formulario-pago .tabs-cont {
    width: 66%;
    float: left;
    background-color: #f5f5f5;
    padding: 2%;
    min-height: 250px;
}

.tabs-cont h5 {
    color: #673378;
    margin-bottom: 10px;
    display: block;
}

.tab-active {
    background-color: #f5f5f5;
    color: #673378;
    font-weight: 600;
}

#formulario-pago .tab {
    cursor: pointer;
    font-size: 16px;
    line-height: 50px;
    padding: 0 5px;
}

.medio-pago h6 {
    margin: 15px;
}

#formulario-datos div, #formulario-envio div {
    margin-bottom: 2%;
    float: left;
    width: 100%;
}

#formulario-datos, #formulario-envio, #tarjeta-credito {
    overflow: hidden;
    position: relative;
}

.w-50 {
    width: 49% !important;
}

.c-nombre, .c-cedula, .c-nit{
	margin-right: 2%;
}

.cont-btn-check {
    text-align: right;
}

.cont-btn-check button{
	margin-right: 5px;
}

.btn-agregar-empresa {
    color: #673378;
    font-size: 14px;
    margin-bottom: 15px;
}

.btn-agregar-empresa:hover{
	color: #39bba1;
}

.datos-empresa{
	display: none;
}

.resumen-compra img {
    width: 50px;
}

.resumen-compra .total-carrito {
    width: 40% !important;
    margin: 0;
}

.resumen-compra .producto-carrito{
	width: 60% !important;
}

.resumen-compra .producto-carrito a {
    font-size: 12px;
    line-height: 12px;
    display: inline-block;
    width: 60%;
}

.resumen-compra .cont-carrito-producto {
    margin-bottom: 15px;
}

.resumen-compra .total .total-carrito {
    width: 100% !important;
    margin: 20px 0;
}

.resumen-compra .total {
    width: 100%;
}

#tarjeta-credito div {
    margin-bottom: 10px;
    float: left;
    width: 100%;
}

.separador-tarjeta {
    display: inline-block;
    vertical-align: middle;
    margin: 0 2%;
}

.tarjeta-mes, .tarjeta-ano {
    width: 30%;
    display: inline-block;
    vertical-align: middle;
}

#codigo-seguridad {
    width: 90px;
}

.codigo-seguridad {
    position: relative;
}

.codigo-seguridad:hover img{
	visibility: visible;
	opacity: 1;
	transition: 0.5s all;
	left: 130px;
}

.codigo-seguridad img {
    width: 100px;
    position: absolute;
    top: 13px;
    left: 120px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s all;
}

.datos input{
	width: 20px;
	height: 20px;
}

.datos p {
    color: #adadad;
    width: 90%;
    display: inline-block;
}

.datos p a{
	color: #39bba1;
	display: inline-block;
}
/*Datos de envio fin*/
/*Check Out fin*/

/*ventana registro*/
.ventana-emergente{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
}

.ventana-emergente-c{
	width: 500px;
	background-color: #fff;
	margin: 0 auto;
	margin-top: 5%;
}

.bg-color-modificado{
	background-color: #3cb39d;
}

.title-ventana{
	color: #fff;
	padding: 10px 0;
	text-align: center;
	position: relative;
}

.ventana-emergente-c form{
	padding: 2%;
}

.btn-inicio-facebook{
	background-color: #4a5695;
	color: #fff;
}

.btn-inicio-google{
	background-color: #b05135;
	color: #fff;
}

.ventana-emergente-c button{
	border: none;
	font-size: 16px;
	height: 40px;
	cursor: pointer;
	display: block;
	text-align: center;
	width: 100%;
}

.btn-cerrar{
	color: #fff;
	position: absolute;
	top: 30%;
	right: 10px;
}

.registro-nombre{
	margin-top: 2%;
}

.input-ventana{
	position: relative;
	margin: 2% 0;
}

.input-ventana input{
	border: 1px solid #a0a0a0;
	height: 35px;
	font-size: 14px;
	color: #a0a0a0;
	outline: none;
	padding: 0 2% 0 10%;
	width: 88%;
}

.input-ventana i{
	position: absolute;
	top: 0;
	left: 3%;
	line-height: 35px;
	font-size: 16px;
	color: #777777;
}

.checked-terminos-registro{
	margin: 3% 0;
}

.checked-terminos-registro p {
    display: inline-block;
    width: 95%;
    color: #777777;
}

.checked-terminos-registro p a{
	color: #3cb39d;
}

.btn-gris{
	background-color: #a0a0a0;
	color: #fff;
	border: 1px solid #a0a0a0 !important;
}

.btn-gris:hover{
	background-color: transparent;
	color: #a0a0a0;
}

.registro-redes {
    margin: 2% 0 5% 0;
}
/*ventana registro Fin*/

/*Estilos Perfil*/
#perfil{
	padding: 3% 0;
}

#perfil .tabbers ul li a, #perfil .tabbers ul li {
    display: inline-block;
    vertical-align: middle;
    font-weight: 300;
    font-size: 16px;
    cursor: pointer;
    margin: 0 10px;
    line-height: 35px;
    color: #a0a0a0 !important;
}

#perfil .tabbers ul .tab-active a {
    color: #673378 !important;
}

#perfil .tabbers ul li i{
	margin-right: 10px;
}

#perfil .tabbers ul  .tab-active , #perfil .tabbers ul li:hover{
    background-color: transparent;
    color: #673378;
    border-bottom: 1px solid #673378;
}

#perfil .tabbers ul{
	text-align: center;
}

#perfil .tabs-cont{
	border: 1px solid #ccc;
	width: 86%;
	margin: 0 auto;
	margin-top: -1px;
	padding: 2%
}

.producto-compra, .estados-compra{
	position: relative;
	overflow: hidden;
}

.producto-compra .cont-img-producto{
	width: 18%;
	float: left;
	margin-right: 2%;
}

.descripcion-producto-compra{
	width: 60%;
	float: left;
}

.calificar-producto {
    width: 20%;
    float: left;
    margin-top: 30px;
}

.descripcion-producto-compra .nombre-producto {
    height: auto;
    text-align: left;
    margin-top: 20px;
}

.cont-btn-calificar {
	text-align: right;
}

.cont-btn-calificar .btn-producto {
    letter-spacing: 0;
    font-size: 14px;
}

.calificacion-promedio {
    color: #663a7f;
    font-size: 18px;
    text-align: right;
    margin: 20px 0;
}

.descripcion-producto-compra p{
	color: #a0a0a0;
	font-size: 14px;
	margin: 10px 0;
}

.estado-compra {
    width: 20%;
    float: left;
    text-align: center;
    font-size: 12px;
    padding: 5px 0;
    color: #fff;
}

.estado-1 {
    background-color: #6292ff;
}

.estado-2 {
    background-color: #1d4ebd;
}

.estado-3 {
    background-color: #33ec1d;
}

.estado-4 {
    background-color: red;
}

.estado-5 {
    background-color: #653c81;
}

.fecha-compra {
    text-align: right;
}

.producto-compra {
    border-bottom: 1px solid #673378;
}

#mis-listas .cols4 {
    padding: 10px;
}

#mis-listas .cols4 .col{
	margin-bottom: 3%;
}

#mis-listas .cols4 .cont-producto, #ofertas .cols4 .cont-producto {
    margin: 10px;
}

.perfil-cont{
	overflow: hidden;
	position: relative;
}

.img-perfil{
	width: 20%;
	float: left;
	margin-right: 5%;
}

.editar-info-perfil{
	width: 75%;
	float: left;
}

.perfil-cont {
    text-align: center;
}

.perfil-cont .btn-producto {
    letter-spacing: 0;
    margin-top: 20px;
}

.cont-img-perfil img {
    max-width: 150px;
    margin: 0 auto;
}

.editar-info-perfil input {
    width: 93% !important;
    padding: 0px 2% 0 4%;
}

.editar-info-perfil  .input-ventana i {
    position: absolute;
    top: 0;
    left: 10px;
}

.editar-info-perfil p {
    color: #757575;
    font-size: 14px;
    text-align: left;
    margin-bottom: 10px;
}

.editar-info-perfil  .input-ventana {
    position: relative;
    margin: 0 0 2% 0;
}

.calificacion{
	text-align: center;
	margin: 30px 0;
}

.calificacion div{
	display: inline-block;
	margin: 0 10px;
}

.ventana-calificacion .calificacion-promedio{
	text-align: center;
}

.mensaje-calificaion textarea{
	height: 150px;
	resize: none;
	border: 1px solid #3cb39d;
	padding: 2%;
	width: 96%;
}

.mensaje-calificaion p{
	margin-bottom: 10px;
}

.cont-btn-calificar{
	margin-top: 30px;
}

div#mis-compras table b {
    font-size: 18px;
    color: #71428a;
}

div#mis-compras table {
    border-collapse: collapse;
}

.cont-mis-compras h6 {
    color: #71458b;
    font-size: 18px;
    margin-bottom: 10px;
}

.cont-mis-compras {
    overflow: hidden;
}

.numero-pedido {
    width: 15%;
    float: left;
    margin-right: 2%;
    text-align: right;
}

.contenido-compra {
    width: 79%;
    float: left;
    border: 1px solid #e6e1e1;
    padding: 1%;
    overflow: hidden;
}

.contenido-compra > div {
    width: 20%;
    float: left;
}

.cont-mis-compras p {
    color: #757575;
    font-size: 14px;
}

.cont-mis-compras .producto-carrito {
    width: 35%;
}

.contenido-compra > div p:nth-child(2n), .contenido-compra > div a:nth-child(2n) {
    background-color: #f5f5f5;
}

.contenido-compra > div a, .contenido-compra > div p {
    width: 100%;
    margin: 0;
    padding: 5px;
}

.numero-pedido h2 {
    color: #46bba7;
    margin-bottom: 10px;
}

.estado-pedido p {
    color: #d205c5;
    font-size: 16px;
}

.total-compras p {
    color: #46bba7;
    font-weight: 600;
    font-size: 16px;
}

.cont-mis-compras {
    overflow: hidden;
    padding: 5px;
    margin-bottom: 10px;
    border-bottom: 2px solid #46bba7;
    padding-bottom: 10px;
}

.estado-pedido {
    margin-top: 20px;
}

.cont-mis-compras:last-child{
	margin-bottom: 0;
}

.total-todas-compras {
    clear: both;
    width: 90%;
    text-align: right;
}

.total-todas-compras .sub-total {
    border-bottom: 0;
}

.total-todas-compras strong {
    color: #71458b;
    display: inline-block;
    vertical-align: middle;
    width: 200px;
}

.total-todas-compras p {
    display: inline-block;
    width: 130px;
}

/*Estilos Perfil fin*/

/*Estilos contenido plano*/
.contenido-plano{
	padding-bottom: 5%;
}
.cont-plano h6 {
    color: #3cb39d;
    margin: 30px 0 10px 0;
    border-bottom: 1px solid #3cb39d;
    padding: 5px 0;
}

.cont-plano {
    width: 80%;
    margin: 0 auto;
}

.cont-plano p {
    color: #5f678d;
    font-size: 16px;
    line-height: 130%;
    margin-bottom: 10px;
}

.submenu-a {
    display: none;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    padding: 10px;
}

.link {
    color: #5f678d;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    border-bottom: 1px solid #3cb39d;
    padding: 10px 0;
    display: block;
}

.contenido-plano a {
    color: #673378;
}

.cont-plano-grande p {
    font-size: 18px;
}

.contenido-plano a:hover {
    color: #0fefc4;
}
/*Estilos contenido plano fin*/

/*404*/
.error-404 {
    background-image: url(../images/error-404.png);
    background-position: center;
    background-size: cover;
    height: 750px;
    position: relative;
    padding-top: 20%;
}

.error-404 .cont-btn-todo{
	position: absolute;
	bottom: 8%;
	left: 50%;
	margin-left: -80px;
}
/*404*/

/*construccion*/
.construccion{
	position: relative;
}

.construccion .cont-btn-todo {
    position: absolute;
    bottom: 5%;
    left: 50%;
    margin-left: -95px;
}
/*construccion fin

/*pago*/
.cont-plano table {
    color: #51bca5;
    border-collapse: collapse;
    font-size: 14px;
}

.cont-plano table tr:nth-child(2n) {
    background: #f9f9f9;
}

.cont-plano table tr td {
    border: 1px solid #E1E1E1;
    padding: 10px 5px;
}

.cont-plano table tr td:last-child {
    color: #757575;
}

/*pago*/



/*estilos pagina energy*/
.icon60{
	width: 60px;
	height: 60px;
}

.icon-paneles{
	background-image: url(../images/icon-panel.png);
}
.icon-servicios{
	background-image: url(../images/icon-servicios.png);
}
.icon-ahorro{
	background-image: url(../images/icon-ahorro.png);
}
.icon-gratis{
	background-image: url(../images/icon-gratis.png);
}
.icon-generacion{
	background-image: url(../images/icon-generacion.png);
}
.icon-protege{
	background-image: url(../images/icon-protege.png);
}
.icon-durabilidad{
	background-image: url(../images/icon-durabilidad.png);
}
.icon-instalacion{
	background-image: url(../images/icon-instalacion.png);
}
.icon-sitio-ideal{
	background-image: url(../images/icon-sitio-ideal.png);
}
.icon-impuestos{
	background-image: url(../images/icon-impuestos.png);
}
.icon-diseno{
	background-image: url(../images/icon-diseno.png);
}
.icon-asesoria{
	background-image: url(../images/icon-asesoria.png);
}
.icon-consultoria{
	background-image: url(../images/icon-consultoria.png);
}
.icon-revision{
	background-image: url(../images/icon-revision.png);
}
.icon-mantenimiento{
	background-image: url(../images/icon-mantenimiento.png);
}
.icon-suministros{
	background-image: url(../images/icon-suministros.png);
}

.servicios-energy {
    background-color: #F7F7F7;
    padding: 30px 5% 30px 10%;
}

.cont-servicio {
    background-color: #fff;
    border: 1px solid #EFEFEF;
    padding: 10px;
    display: inline-block;
    width: 42%;
}

.cont-servicio:first-child{
	margin-right: 2%;
}

.cont-servicio h3 {
    color: #673378;
    margin-top: 10px;
}

.beneficios {
    background: rgba(60,179,157,1);
    background: -moz-linear-gradient(45deg, rgba(60,179,157,1) 0%, rgba(229,145,0,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(60,179,157,1)), color-stop(100%, rgba(229,145,0,1)));
    background: -webkit-linear-gradient(45deg, rgba(60,179,157,1) 0%, rgba(229,145,0,1) 100%);
    background: -o-linear-gradient(45deg, rgba(60,179,157,1) 0%, rgba(229,145,0,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(60,179,157,1) 0%, rgba(229,145,0,1) 100%);
    background: linear-gradient(45deg, rgba(60,179,157,1) 0%, rgba(229,145,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3cb39d', endColorstr='#e59100', GradientType=1 );
    padding: 40px 5% 150px 5%;
    text-align: center;
}

.descrip-beneficios{
	color: #fff;
}

.descrip-beneficios p{
	margin: 20px 0;
}

.beneficios .col{
	text-align: left;
	margin-bottom: 2%;
}

.beneficios .col .cont-servicio{
	display: block;
	width: 93%;
}

.beneficios .col .icon, .beneficios .col div{
	display: inline-block;
	vertical-align: middle;
}

.beneficios .col .icon{
	margin-right: 10px;
	display: inline-block;
}

.beneficios .col .cont-servicio div {
    width: 70%;
    height: 80px;
}

.beneficios .col h6 {
    color: #673378;
    margin-bottom: 10px;
}

.beneficios .col p{
	color: #777777;
	line-height: 100%;
}

.asesor-contacto {
    overflow: hidden;
    padding: 70px 10% 0 10%;
    margin: -140px 0 40px 0;
}

.asesor, .contacto{
	width: 50%;
	float: left;
	height: 300px;
}

.asesor{
	background-color: #673378;
	position: relative;
}

.asesor:after{
	content: "";
	width: 300px;
	height: 360px;
	background-image: url(../images/distribuidor.png);
	position: absolute;
	bottom: 0;
	right: 0;
	background-size: 100%;
	background-repeat: no-repeat;
}

.contacto{
	background-color: #E59200;
	-ms-display: flex;
  	display: flex;
  	/* alineacion vertical */
  	align-items: center;
   	/* alineacion horizontal */
  	justify-content: center;
  	text-align: center;
  	color: #fff;
  	font-size: 20px;
  	line-height: 130%;
  	font-weight: 300;
  	text-transform: uppercase;
}

.cont-contacto {
    border: 2px solid #fff;
    padding: 5% 16%;
}

.asesor h2 {
    color: #fff;
    width: 30%;
    text-transform: uppercase;
    line-height: 140%;
    font-size: 26px;
    margin: 5% 0 0 5%;
}

.servicios-energy.cols2 h2 {
    color: #E59200;
    font-weight: 300;
}

.servicios-energy.cols2 h2 strong{
	display: block;
}


.servicios-interna {
    padding: 30px 10%;
    text-align: center;
}

.cont-servicio-interna {
    border: 1px solid #777777;
    padding: 10px;
    text-align: center;
    display: inline-block;
    width: 20%;
    margin: 0 1% 2% 1%;
    vertical-align: top;
}

.cont-servicio-interna h6 {
    color: #673378;
    margin: 10px 0;
}

.cont-servicio-interna p {
    color: #777777;
    font-size: 13px;
    line-height: 140%;
    height: 80px;
}
/*estilos pagina energy fin*/

/*servicios bittat home*/
.servicios-interna-home .cont-servicio-interna {
    width: 44%;
}

.servicios-interna-home .cont-servicio-interna h6 {
    height: 50px;
}

.servicios-interna-home .cont-servicio-interna p {
    height: 150px;
}

.servicios-interna-home .cont-servicio-interna {
    border: 1px solid #45bca7;
}

input, select, textarea {
    border: 1px solid #3cb39d;
    outline: none;
    height: 40px;
    padding: 0 2%;
    font-size: 13px;
    width: 96%;
    margin-bottom: 10px;
    background-color: #fff;
}

.formulario-servicio select{
	width: 100%;
}

.servicios-interna.servicios-interna-home {
    width: 55%;
    float: left;
    margin-right: 2%;
    padding: 2% 0;
}

.cont-bittat-servicios {
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
}

.formulario-servicio {
    width: 39%;
    float: left;
    margin: 2% 0 0 0;
    background-color: #f5f5f5;
    padding: 2%;
}

.formulario-servicio h3 {
    color: #673378;
    margin-bottom: 10px;
}

.formulario-servicio p{
	margin-bottom: 5px;
}

.campo-form{
	margin-bottom: 2%;
}

.formulario-servicio form .campo-form:nth-child(3) input {
    margin: auto;
    width: auto;
    height: auto;
    margin-right: 20px;
}

#enviar-cotizacion, .btn-kit{
	background-color: #673378;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    width: auto;
    padding: 0 20px;
    cursor: pointer;
    border: 3px solid #fff;
}

.formulario-servicio .cont-btn{
	text-align: right;
}

.beneficios.formulario-energy form {
    width: 600px;
    margin: 0 auto;
}

.beneficios.formulario-energy textarea {
    padding: 2%;
    height: 150px;
    resize: none;
}

.beneficios.formulario-energy .cont-btn{
	text-align: right;
}

.kit-camaras{
	color: #fff;
	text-align: center;
	padding: 3% 0;
}

.cont-promocion{
	width: 60%;
	margin: 0 auto;
	padding: 2% 0;
}

.cont-promocion h3{
	margin-bottom: 20px;
}

.kit-camaras .cols4{
	width: 80%;
	margin: 0 auto;
}

.kit-camaras .cols4 .col{
	margin-bottom: 2%;
}

.btn-kit{
	padding: 20px;
}
/*servicios bittat home*/



