/*1024*/
/*body{
	background-color: green;
}*/

.cont-marca {
    width: 57%;
}

.menu-foot ul {
    margin: 0 1%;
}

#menu li {
    margin: 5px 15px 5px 0;
}

.seccion-derecha-header {
    width: 56%;
}

.asesor h2 {
    font-size: 18px;
}

.asesor, .contacto {
    height: 240px;
}

.asesor:after {
    width: 220px;
    height: 263px;
}

.cont-contacto {
    border: 2px solid #fff;
    padding: 5%;
}

.contacto {
    font-size: 14px;
}

.servicios-interna {
    padding: 30px 5%;
}

.cont-servicio-interna {
    width: 27%;
}

.cont-servicio-interna p {
    height: 95px;
}




/*960*/
@media only screen and (max-width : 960px) {
/*body{
	background-color: blue;
}*/

.submenu {
    width: 660px;
    left: -120%;
}

.buscador {
	width: 50%;
}

.btn-menu {
    display: inline-block;
}

.submenu {
    width: 100%;
    left: 0;
    opacity: 1;
    visibility: visible;
    padding: 0 0;
    border: 0;
    position: relative;
    background-color: rgba(255,255,255,0.2);
    top: 0;
}

.submenu ul {
    display: block;
}

#menu .submenu ul li {
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

#menu > ul > li:hover .submenu {
    top: 0;
}

#menu {
    position: fixed;
    right: -300px;
    height: 100%;
    width: 300px;
    z-index: 999;
    top: 0;
    background-color: #3bb39d;
    overflow-x: scroll;
    transition: .5s all;
}

.seccion-derecha-header {
    width: 80%;
}

.buscador {
    width: 75%;
}

#menu ul li {
    display: block;
    text-align: center;
    margin: 0;
}

.submenu .col {
    width: 100%;
    margin: 0;
}

#menu h4 a {
    display: none;
}

.banner-transversales .cols3 {
    width: 100%;
    margin: 0 auto;
}

.menu-foot ul {
    width: 42%;
    margin-bottom: 0 2% 3% 2%;
}

.datos-contacto ul:first-child {
    margin-bottom: 2%;
}

.logo-marca {
    display: block;
    margin: 0 auto;
}

.cont-marca {
    width: 100%;
    margin: 2% 0;
    text-align: center;
}

.banner-transversales p {
    width: 100%;
    margin: 0 auto;
    font-weight: 100;
}

.datos-contacto ul:first-child {
    width: 100%;
    margin-bottom: 20px;
}

.cols4.listado-producto .col {
    width: 32%;
}

.cols4.listado-producto .col:nth-child(4n) {
    margin-right: 2%;
}

.cols4.listado-producto .col:nth-child(3n) {
    margin-right: 0;
}

.add-header-fixed {
    position: fixed;
    top: 0;
    width: 90%;
    padding: 10px 5% 20px 5%;
    left: 0;
    z-index: 99;
    background: rgba(102,58,127,1);
    background: -moz-linear-gradient(left, rgba(102,58,127,1) 0%, rgba(95,100,140,1) 51%, rgba(57,187,161,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(102,58,127,1)), color-stop(51%, rgba(95,100,140,1)), color-stop(100%, rgba(57,187,161,1)));
    background: -webkit-linear-gradient(left, rgba(102,58,127,1) 0%, rgba(95,100,140,1) 51%, rgba(57,187,161,1) 100%);
    background: -o-linear-gradient(left, rgba(102,58,127,1) 0%, rgba(95,100,140,1) 51%, rgba(57,187,161,1) 100%);
    background: -ms-linear-gradient(left, rgba(102,58,127,1) 0%, rgba(95,100,140,1) 51%, rgba(57,187,161,1) 100%);
    background: linear-gradient(to right, rgba(102,58,127,1) 0%, rgba(95,100,140,1) 51%, rgba(57,187,161,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#663a7f', endColorstr='#39bba1', GradientType=1 );
    animation-name: animacion-header;
    animation-duration: 1s;
    z-index: 999;
}

@keyframes animacion-header {
    0% {
        top: -80px;
    }

    100% {
        top: 0;
    }
}

.add-header-fixed .seccion-derecha-header{
    right: 5%;
}

#content.add-content{
    margin-top: 60px;
}

/*Checkout*/
#content-checkout{
    width: 90%;
}
/*Checkout fin*/


.servicios-energy.cols2 .col {
    width: 100%;
    margin-bottom: 20px;
}

.beneficios .cols3 .col:nth-child(2n) {
    margin-right: 0;
}

.beneficios .cols3 .col:nth-child(3n) {
    margin-right: 2%;
}

.beneficios .cols3 .col {
    width: 49%;
}



}



/*728*/
@media only screen and (max-width : 728px) {
/*body{
	background-color: purple;
}*/

.buscador {
    width: 70%;
}

.menu-foot {
    width: 100%;
    margin-right: 0;
}

.formulario-foot {
    width: 100%;
    float: left;
}

.vitrina-productos-home .carousel {
    padding: 0 0 7% 0;
}

.banner-transversales .cols3 .col {
    width: 100%;
    margin: 0 0 2% 0;
}

.btn-menu {
    margin-top: 10px;
}

.datos-contacto ul:first-child {
    width: auto;
}

.descripcion-producto-compra {
    width: 100%;
    float: left;
}

.calificar-producto {
    width: 100%;
    margin-top: 20px;
}

.producto-compra .cont-img-producto {
    width: 150px;
    float: left;
    margin-right: 2%;
}

.producto-compra .cont-img-producto {
    width: 150px;
    float: none;
    margin: 0 auto;
}

#perfil .tabbers ul li {
    width: 44%;
    margin-bottom: 10px;
}

#mis-listas .cols4 .col:nth-child(2n), #ofertas .cols4 .col:nth-child(2n) {
    margin-right: 0;
}

#mis-listas .cols4 .col, #ofertas .cols4 .col {
    width: 49%;
}

.img-perfil {
    width: 100%;
    float: left;
    margin-right: 5%;
}

.editar-info-perfil input {
    width: 91% !important;
    padding: 0px 2% 0 6%;
}

.editar-info-perfil {
    width: 100%;
    float: left;
}

.ventana-emergente {
    overflow-x: scroll;
}



/*checkout*/
.cont-carrito-producto div {
    width: 30%;
}

.titulos-carrito {
    display: none;
}

.w-50 {
    width: 100%!important;
    margin-right: 0;
}
/*checkout fin*/

.asesor, .contacto {
    width: 100%;
    margin-bottom: 10px;
}

.cont-servicio-interna {
    width: 43%;
}



}


/*600*/
@media only screen and (max-width : 600px) {
/*body{
	background-color: brown;
}*/

.slider-movil{
    display: block;
}

.slider-principal{
    display: none;
}

.copy-footer .redes-sociales {
    float: none;
    margin: 0;
}

.buscador {
    width: 62%;
}

.cols4.listado-producto .col {
    width: 49%;
}

.cols4.listado-producto .col:nth-child(3n) {
    margin-right: 2%;
}

.cols4.listado-producto .col:nth-child(2n) {
    margin-right: 0;
}

.producto-zoom {
    width: 100%;
    margin-right: 0;
}

.producto-info {
    width: 100%;
}

.cont-logo {
    text-align: left;
}

#logo{
    margin-left: 5%;
}

.ventana-emergente-c {
    width: 90%;
}

/*checkout*/
.cupon {
    margin-right: 0;
    text-align: center;
}

.cupon, .total {
    width: 100%;
}

.datos-comprador {
    width: 100%;
    margin-right: 0;
}

.resumen-compra {
    width: 100%;
    margin-top: 2%;
}
/*checkout fin*/

.beneficios .col .cont-servicio div {
    width: 100%;
    height: 80px;
    margin-top: 10px;
}

.cont-servicio-interna {
    width: 42%;
}




}



/*480*/
@media only screen and (max-width : 480px) {
/*body{
	background-color: pink;
}*/

.header-top .redes-sociales {
    display: inline-block;
    margin-top: 4px;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #fff;
}

.header-top {
    padding: 0;
}

.cuenta {
    float: none;
    text-align: center;
}

.menu-foot ul {
    width: 100%;
}

#menu {
    right: -220px;
    width: 220px;
}

.menu-foot {
    text-align: center;
}

.logo-footer {
    width: 150px !important;
    display: block;
    margin: 0 auto;
}

header .buscador {
    width: 100%;
    position: absolute;
    top: 60px;
    right: 0;
    z-index: 99;
    display: none;
}

.btn-buscador-movil{
    display: inline-block !important;
}

#car {
    position: relative;
    margin-right: 15px;
}

.cols2.marcas-bittat .col {
    width: 100%;
}

.borde-marca {
    border-right: 0;
    border-bottom: 1px solid #663a7f;
}

.ordenar-productos {
    float: none;
    margin-top: 0;
}

.miga-ordenar {
    width: 95%;
    text-align: center;
}

#perfil .tabbers ul li {
    width: 100%;
    margin-bottom: 10px;
}

#mis-listas .cols4 .col, #ofertas .cols4 .col {
    width: 100%;
}

.cont-plano {
    width: 95%;
    margin: 0 auto;
}

#logo {
    width: 110px;
}

.whatsapp-header a {
    font-size: 13px;
}

.whatsapp-header {
    top: 19%;
    right: 3%;
}

.listado-producto {
    width: 95%;
    margin: 0 auto;
}

.flag-dcto {
    width: 62px;
    height: 30px;
    top: -5px;
    left: -15px;
}

.flag-dcto span {
    font-size: 18px;
    margin: 4px 0 0 3px;
}

.flag-nuevo {
    width: 45px;
    bottom: 65px;
    right: 0;
}

.ventana-emergente-c .col {
    width: 100%;
    margin-bottom: 2%;
}




/*checkout*/
.cont-carrito-producto div {
    width: 100%;
    text-align: center;
}

.titulos-carrito ul li:nth-child(1), .cont-carrito-producto div:nth-child(1) {
    width: 100%;
}

.footer-checkout .datos-contacto ul:first-child {
    width: 100%;
    text-align: center;
}

#email-finalizar {
    width: 90%;
    margin-bottom: 2%;
}

.tus-datos {
    width: 100%;
    margin-right: 0;
}

.direccion-envio {
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
}

#formulario-pago ul {
    width: 100%;
    float: left;
}

#formulario-pago .tabs-cont {
    width: 100%;
    min-height: auto;
}
/*checkout fin*/

.cont-servicio {
    width: 85%;
    margin-bottom: 10px;
}

.beneficios .cols3 .col {
    width: 100%;
}

.asesor h2 {
    width: 80%;
    font-size: 14px;
}

.asesor:after {
    width: 140px;
    height: 167px;
}

.beneficios .col .cont-servicio div {
    height: auto;
}

.cont-servicio-interna {
    width: 90%;
}

.cont-servicio-interna p {
    height: auto;
}




}



/*320*/
@media only screen and (max-width : 320px) {
/*body{
	background-color: red;
}*/

.cols4.listado-producto .col{
    width: 100%;
    margin-right: 0;
}




}