/*960*/
@media only screen and (max-width : 960px) {

#logo{
    margin-left: 5% !important;
}

}

/*728*/
@media only screen and (max-width : 728px) {

#logo{
    margin-left: 5% !important;
}

}

/*600*/
@media only screen and (max-width : 600px) {


#logo{
    margin-left: 5% !important;
}

}


/*480*/
@media only screen and (max-width : 480px) {

#logo {
    width: 110px !important;
}

}


